body {
    margin: 0;
    background-color: #C0FF72;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    background-color: #b2ee6a;
    border-width: 0 4px;
    border-style: solid;
    border-color: #a3d960;
    box-shadow: 0 4px 15px 0 #00640030, 0 6px 20px 0 #00640030;
}



/*SCORE*/

.score {
    font-size: 1.25em;
    background-color: darkgreen;
    color: #EEE;
    padding: 6px 15px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #00000030, 0 6px 20px 0 #00000030;

}



/*BINS*/

#bins {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

#foodScrapBin, #glassBin {
    display: block;
}

#recycleBin, #rubbishBin, .alignBins {
    display: inline;
}

#bins img {
    width: 85px;
}

.alignBins {
    margin: 0 2rem;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 13px;
    text-align: center;
    background-color: #f0fff440;
    font-size: 0.9em;
    padding: 2px;
    border: 2px solid #f0fff460;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #00000030, 0 6px 20px 0 #00000030;

}

/*CONVEYOR*/

#conveyor {
    position: relative;
    width: 100%;
    border-radius: 30px;
    display: block;
    margin: auto;
}

#items div {
    position: absolute;
}



/*BOTTOM ROW*/

#questionMark {
    width: 70px;
    bottom: 7vh;
    position: absolute;
}

#waterBucket {
    width: 90px;
    position: absolute;
    bottom: 7vh;
    right: 4vw;
}