body {
    margin: 0;
    background-color: #C0FF72;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100vw;
        position: absolute;
        height: 100vh;
        padding: 1rem 2rem;
        background-color: #b2ee6a;
        border-width: 0 4px;
        border-style: solid;
        border-color: #a3d960;
        box-shadow: 0 4px 15px 0 #00640030, 0 6px 20px 0 #00640030;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 50vw;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100vh;
        transform: translate(-50%, -50%);
        padding: 2rem 3rem;
        background-color: #b2ee6a;
        border-width: 0 4px;
        border-style: solid;
        border-color: #a3d960;
        box-shadow: 0 4px 15px 0 #00640030, 0 6px 20px 0 #00640030;
    }
}



/*SCORE*/

.score {
    font-size: 1.25em;
    background-color: darkgreen;
    color: #EEE;
    padding: 6px 15px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #00000030, 0 6px 20px 0 #00000030;

}



/*BUTTONS*/

.buttons{
    font-size: 1.25em;
    padding: 6px 15px;
    border-radius: 8px;
    border: 5px solid darkgreen;
    background-color: #00000025;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}


/*BINS*/

#bins {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

#foodScrapBin, #glassBin {
    display: block;
}

#recycleBin, #rubbishBin, .alignBins {
    display: inline;
}

#bins img {
    width: 85px;
}

.alignBins {
    margin: 0 2rem;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 13px;
    text-align: center;
    background-color: #f0fff440;
    font-size: 0.9em;
    padding: 2px;
    border: 2px solid #f0fff460;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #00000030, 0 6px 20px 0 #00000030;
}




/*CONVEYOR*/
#conveyor {
    background-image: url('Images/conveyor.png');
    position: relative;
    width: 100%;
    height: 30px;
    background-size: contain;
    background-repeat: repeat-x;
}



/*RUBBISH*/

#items {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rubbishDivClass {
    position: absolute;
    cursor: grab;
}

.rubbishDivClass:active {
    cursor: grabbing;
}

.rubbishClass {
    transform: translate(0, -105%);
}




/*BOTTOM ROW*/

#questionMark {
    width: 70px;
    bottom: 7vh;
    position: absolute;
}

#waterBucket {
    width: 90px;
    position: absolute;
    bottom: 7vh;
    right: 4vw;
}

#lidRemover{
    width: 90px;
    position: absolute;
    bottom: 7vh;
    right: 10vw;
}



/*POP UP*/

#popUp {
    background-color: #00000025;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    display: none;
}

#smallContainer {
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    border: 4px solid black;
    border-radius: 10px;
    opacity: 90%;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 4px 15px 0 #00640030, 0 6px 20px 0 #00640030;
}



/*HELP PAGE*/

h1{
    background-color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    color: red;
}

#scrapsHelp{
    color: green;
}

#recycleHelp{
    color: orange;
}

#glassHelp{
    color: deepskyblue;
}

#recyclingHelp{
    display: flex;
    flex-direction: column;
    align-items: center;

}